@import "reset";
/* 
    主头部
*/
.headerbox{
    background-color:#333333;
    .header{
        width:1196px;
        height:32px;
        margin:0 auto;
        .headerle{
            float:left;
            width:152px;
            height:32px;
            li{
                float:left;
                line-height:32px;
                margin-right:18px;
                a{
                    font-size:12px;
                    color:#fff;
                    display:block;
                    float:left;
                    &:hover{
                        color:skyblue;
                    }
                }
            }
            li:first-child{
                width:48px;
                height:32px;
            }
            li:last-child{
                span{
                    display:block;
                    float:left;
                    font-size:12px;
                    color:#fff;
                    &:hover{
                        color:skyblue;
                    }
                }
                .empty{
                    margin:0 4px;
                }
            }
        }
        .headerri{
            float:right;
            width:297px;
            height:32px;
            li{
                float:left;
                height:32px;
                line-height:32px;
                padding:0px 7px 0px 10px;
                position: relative;
                a{
                    font-size:12px;
                    float:left;
                    color:#fff;
                    &:hover{
                        color:skyblue;
                    }
                }
                span{
                    font-size:12px;
                    color:#fff; 
                }
            }
            .divno{
                display:none;
                background:#fff;
                position: absolute;
                top:32px;
                left:0;
                a{
                    font-size:12px;
                    display:block;
                    color:#000;
                    padding:0 7px 0 10px;

                }
            }
            li:nth-child(2):hover{
                background:#fff;
                span{
                    color:#000;
                }
                .divno{
                    border:1px solid gray;
                    border-top:none;
                    display:block;
                }
            }
            li:nth-child(3):hover{
                background:#fff;
                a{
                    color:#000;
                    &:hover{
                        color:skyblue;
                    }
                }
                .divno{
                    border:1px solid gray;
                    border-top:none;
                    display:block;
                    z-index:3;
                }
            }
            li:last-child .divno{
                width:250px;
                height:152px;
                position: absolute;
                left:-182px;
                z-index:3;
                div{
                    width:110px;
                    height:110px;
                    margin:10px;
                    float:left;
                    img{
                        width:100%;
                        height:100%;
                    }
                    span{
                        display: block;
                        width:110px;
                        text-align: center;
                        font-size:12px;
                        color:#000;
                    }
                }
                div:last-child{
                    margin-left:0;
                }
            }
            li:last-child:hover{
                background:#fff;
                a{
                    color:#000;
                    &:hover{
                        color:skyblue;
                    }
                }
                .divno{
                    border:1px solid gray;
                    border-top:none;
                    display:block;
                }
            }
            
        }
    }
}

/* 
    副头部
*/
.viheadbox{
    background: #fff;
    .vicehead{
        width:1196px;
        height:120px;
        margin:0 auto;
        div{
            float:left;
        }
        .vicele{
            width:330px;
            height:120px;
            img{
                width:100%;
                height:100%;
            }
        }
        .vicecen{
            width:600px;
            height:64px;
            margin-top:32px;
            .ceninput{
                width:600px;
                height:40px;
                input{
                    width:450px;
                    height:34px;
                    outline: none;
                    border:none;
                    float: left;
                    padding-left:12px;
                    border:2px solid #2884c7;
                }
                button{
                    width:134px;
                    height:40px;
                    border:2px solid #2884c7;
                    background:#2884c7;
                    font-size:18px;
                    color:#fff;
                    float: left;
                    cursor: pointer;
                }
            }
            .cenbo{
                width:600px;
                height:24px;
                a{
                    font-size:12px;
                    color:#2884c7;
                    margin-right:10px;
                }
            }
        }
        .viceri{
            width:120px;
            height:38px;
            border:1px solid #dddddd;
            text-align: center;
            line-height: 38px;
            margin:32px 0px 0px 20px;
            a{
                display:block;
                width:120px;
                height:38px;
                .iconfont{
                    color:#2884c7;
                }
                span{
                    font-size:14px;
                    display:none;
                    color:#2884c7;
                }
            }
            &:hover{
                background:#2884c7;
                .iconfont{
                    color:#fff;
                }
                span{
                    color:#fff;
                }
            }
        }
        .viceri2{
            width:90px;
            height:104px;
            border:1px solid #dddddd;
            margin-top:8px;
            position: relative;
            left:25px;
            .btnx{
                width:14px;
                height:14px;
                font-size:12px;
                background:#dddddd;
                text-align: center;
                line-height: 14px;
                cursor: pointer;
                position: absolute;
                top:0;
                right:-15px;
            }
            .app{
                width:88px;
                height:20px;
                font-size:12px;
                text-align:center;
                line-height:20px;
            }
            .viceimg{
                width:75px;
                height:77px;
                margin-left:8px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
        
        .posi{
            height:420px;
            position:absolute;
            top:152px;
            .sidebar{
                width:196px;
                height:402px;
                background:#333333;
                padding-top:18px;
                opacity: 0.8;
                filter:alpha(opacity=80);
                float:left;
                li{
                    width:196px;
                    height:64px;
                    line-height:64px;
                    position: relative;
                    a{
                        color:#fff;
                        display:block;
                        width:148px;
                        height:64px;
                        line-height:64px;
                        padding:0px 24px;
                        font-size:14px;
                        .iconfont{
                            float:right;
                        }
                        
                        &:hover{
                            background:#2884c7;
                            .iconfont{
                                font-size:24px;
                            }
                        }
                    }
                }
            }
            .tabs{
                width:1000px;
                height:420px;
                float:left;
                // display:none;
                ul{
                    width:1000px;
                    height:420px;
                    background:#fff;
                    display:none;
                }
                .faddish{
                    top:-18px;
                    display:none;
                    .faddishdiv{
                        width:750px;
                        height:400px;
                        padding:20px 0 0 20px;
                        li{
                            float:left;
                            width:200px;
                            height:55px;
                            margin:20px;
                            line-height:55px;
                            a{
                                float:left;
                                padding:0;
                                height:55px;
                                img{
                                    width:55px;
                                    height:55px;
                                    float:left;
                                }
                                div{
                                    width:55px;
                                    height:55px;
                                    float:left;
                                    span{
                                        display:block;
                                        width:55px;
                                        height:27px;
                                        text-align:center;
                                        font-size:12px;
                                        color:#000;
                                    }
                                    .model{
                                        font-weight:500;
                                        line-height:37px;
                                    }
                                    .price{
                                        color:red;
                                        line-height:17px;
                                    }
                                }
                            }
                        }
                    }
                }
                .size{
                    display:block;
                    background:red;
                    .sizekind{
                        width:160px;
                        margin:10px 20px;
                        div{
                            font-size:14px;
                            padding:10px 0px;
                        }
                        li{
                            width:160px;
                            clear:left;
                            a{
                                img{
                                    width:40px;
                                    height:34px;
                                }
                            }
                        }
                    }
                }  
            }
        }
    }
}
/* 
    轮播图
*/
.bannerbox{
    .ban{
        width:100%;
        height:420px;
        li{
            width:100%;
            height:420px;
            a{
                width:100%;
                height:420px;
                display:block;
                img{
                    width:1196px;
                    height:100%;   
                    margin:0 auto;
                }
            }
        }
        .ban1{
            background:#1682c0;
        }
        .ban2{
            background:#fbe8d9;
        }
        .ban3{
            background:#ee2245;
        }
        .ban4{
            background:#fdeae6;
        }
    }
    .permsg{
        position: absolute;
        top:0px;
        right:0;
    }
}
